@page "/MAG/nouvelle-permission"

@rendermode @(new InteractiveServerRenderMode(prerender: false))
<div>
    <SharedHeader PreviousPage="Liste des Profils" CurrentPage="Creation Profil" OnCancel="OnCancel" />
</div>
<div class="row align-items-center justify-content-center">
    <div class="col-xxl-10 col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Nouvelle Permission</div>
            </div>
            <div class="card-body">
                <EditForm Model="@Permission" FormName="OnSavePermission">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="row gy-3">
                        <div class="col-xl-12">
                            <label for="profil-name" class="form-label">
                                Code
                            </label>
                            <InputText
                                class="form-control"
                                id="profil-name"
                                @bind-Value="Permission.Code"
                                placeholder="Code permission" />
                        </div>
                        <div class="col-xl-12">
                            <label for="AG-utilisateur" class="form-label">
                                Utilisateur
                            </label>
                            <InputText
                                class="form-control"
                                id="utilisateur-AG"
                                @bind-Value="Permission.Name"
                                placeholder="Nom permission" />
                        </div> 
                    </div>
                </EditForm>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-primary btn-wave waves-effect waves-light  me-2"
                    @onclick="() => OnCancel()">
                    Annuler
                </button>
                <button
                    id="
                    submitBtn
                    type="
                    submit
                    class="btn btn-success"
                    @onclick="OnSavePermission">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
</div>
