@* @model SYSGES_MAGs.Models.ModelsDto.DashboardSynthese

@{
    var totalMontant = Model.BkmvtiSyntheseDto.Sum(x => x.MontantTotal);
} *@

@page "/dashboard"

<div class="d-flex align-items-center justify-content-between page-header-breadcrumb flex-wrap gap-2">
    <div>
        <nav>
            <ol class="breadcrumb mb-1">
                <li class="breadcrumb-item fw-bold">
                    <a href="javascript:void(0);"> Dashboards </a>
                </li>
            </ol>
        </nav>

    </div>
    <button class="btn btn-primary open-modal-btn" id="openProfileModalBtn">
        <i class="fa-solid fa-plus me-1 fw-medium align-middle"></i>Analytise
    </button>
</div>


<div class="row mx-1">
    @* @foreach (var item in Model.BkmvtiSyntheseDto)
    { *@
        <div class="col-lg-3 col-xl-4">
            <div class="card custom-card overflow-hidden main-content-card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="flex-fill fs-13 text-muted">item.DesignationCarte</div>
                            <div class="fs-16 fw-medium my-1"><span class="text-danger">item.MontantTotal!.Value.ToString("N0")</span> XAF</div>
                             
                        </div>
                        <div class="avatar avatar-md bg-primary svg-white">
                            item.CodeCarte
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @* } *@


    <div class="col-12 card border border-primary2 border-opacity-25 custom-card " style="background-color : #20c997">
        <div class="card-body">
            <div class="d-flex gap-2 align-items-center my-1">
                <div class="text-fixed-white">
                    <span class="mb-1 d-block">Total Revenue</span>
                    <h4 class="mb-1 text-fixed-white">totalMontant!.Value.ToString("N0") XAF</h4>
                </div>
                <div class="avatar avatar-lg bg-white-transparent svg-white ms-auto shadow-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                         viewBox="0 0 256 256">
                        <path d="M230.33,141.06a24.43,24.43,0,0,0-21.24-4.23l-41.84,9.62A28,28,0,0,0,140,112H89.94a31.82,31.82,0,0,0-22.63,9.37L44.69,144H16A16,16,0,0,0,0,160v40a16,16,0,0,0,16,16H120a7.93,7.93,0,0,0,1.94-.24l64-16a6.94,6.94,0,0,0,1.19-.4L226,182.82l.44-.2a24.6,24.6,0,0,0,3.93-41.56ZM16,160H40v40H16Zm203.43,8.21-38,16.18L119,200H56V155.31l22.63-22.62A15.86,15.86,0,0,1,89.94,128H140a12,12,0,0,1,0,24H112a8,8,0,0,0,0,16h32a8.32,8.32,0,0,0,1.79-.2l67-15.41.31-.08a8.6,8.6,0,0,1,6.3,15.9ZM164,96a36,36,0,0,0,5.9-.48,36,36,0,1,0,28.22-47A36,36,0,1,0,164,96Zm60-12a20,20,0,1,1-20-20A20,20,0,0,1,224,84ZM164,40a20,20,0,0,1,19.25,14.61,36,36,0,0,0-15,24.93A20.42,20.42,0,0,1,164,80a20,20,0,0,1,0-40Z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row ">
    
    <div class="row">
        <div class="col-12">
            <div class="card custom-card p-3">

                <!-- hauteur responsive -->
                <div style="position: relative; width:100%; height:450px;">
                    <canvas id="myChart"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>
    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

     <script>
             document.addEventListener('DOMContentLoaded', async () => {

        try {

            const response = await fetch('/Home/Dashboard');

            if (!response.ok) {
                throw new Error('Impossible de charger les données');
            }

            const result = await response.json();

            // Tableau contenant les données du graphique
            const dashboard = result.dashboardResult;

            const labels = dashboard.map(x =>
                `${String(x.mois).padStart(2, '0')}/${x.annee}`
            );

            const montants = dashboard.map(x => x.montant);

            const ctx = document.getElementById("myChart").getContext("2d");

            const gradient = ctx.createLinearGradient(0, 0, 0, 400);

            gradient.addColorStop(0, "#Ff0054");
            gradient.addColorStop(1, "#FA003F");

            const gradient1 = ctx.createLinearGradient(0, 0, 0, 400);
            gradient1.addColorStop(0, "#f8d7da"); // rose pâle
            gradient1.addColorStop(1, "#d1e7dd");

            new Chart(ctx, {
                type: "line",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Montant total",
                        data: montants,
                        backgroundColor: gradient1,
                        borderColor: gradient,
                        borderWidth: 2,
                        tension: 0.4,
                        fill: true
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: true
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

        }
        catch (error) {
            console.error(error);
        }

    });
    </script>



