<div class="container">
    <span class="text-muted">
        Copyright © <span id="year">2026</span>  <a href="" target="_blank">
            <span class="fw-medium text-primary">SGCAM</span>
        </a> All rights reserved
    </span>
</div>